<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'employee.css' %}">
	<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<meta name="referrer" content="no-referrer-when-downgrade" />
<!-- JavaScript Bundle with Popper -->
<title></title>
</head>
<body>
	<img src="{% static 'image/pic3 (1).jpg' %}" alt="My image">
	<img src="{% static 'image/pic3 (2).jpg' %}" alt="My image">
	<img src="{% static 'image/pic4.jpg.jpg' %}" alt="My image">
	<img src="{% static 'image/pics3.jpg' %}" alt="My image">
<div class="container" align="center">
	<div class="jumbotron">
  <h1 class="display-4">Savitri Employee Information!</h1>
  <p class="lead">This is Simple Nd Very Easy To FindOut Employee As For Your Needs.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/employeedata" role="button">Click Here To See Our Employee</a>
</div>
</div>
<!--Start of Tawk.to Script-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/61af4dc2c82c976b71c02f98/1fmacfh0p';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->
</body>
</html>